.icon{
    padding-right: 10px;
    font-size: 12px;
}

.btn{
    display: block;
    padding: 0 15px;
    text-align: center;
    border: 1px solid #000;
    position: relative;
    font-size: 15px;
    line-height: 48px;
    text-decoration: none;
    transition:  all .3s linear;

    &__{
        &theme{
            &--{
                &black{
                    background-color: black;
                    color: white;
                    &:hover{
                        background-color: white;
                        color: black;
                    }
                }
                &default{
                    background-color: white;
                    color: black;
                    &:hover{
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
        &align{
            &--{
                &left{
                    margin-right: auto;
                }
                &right{
                    margin-left: auto;
                }
                &default{
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        &size{
            &--{
                &default{
                    max-width:335px;
                }
            }
        }
    }
}